
.strengthen-your-online-container {
    font-size: 45px;
    width: 887px;
    color: var(--color-darkseagreen);
    margin:0px 70px;
    margin-top: 200px;
    margin-top: 2%;
}

.your-online-presence {
    color: var(--color-darkslategray);
}

.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.heroimg{
    width: 60%;
}
.heroimg img{
    width: 90%;
    max-width: 100%;
    margin-right: 60px;
    margin-bottom: 3%;
    
}
.aboutText{
    font-size: 21px;
    width: 30%;
    font-family: Jost;
    font-weight: 400;
    color: #003838;
    display: flex;
    align-items: center;
    
}

/*FAQ design*/
/* Basic styling for the FAQ cards */

.whySearchwave {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 8% 0px;
    color: #003838;
}

.whySearchwave img {
    margin: 0%;
    width: 20%;
}
.faqBox{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 0px 100px 0px;
}
.faq-card {
    margin: 10px;
    padding: 10px;
    margin: 0px 70px;
    width: 60%;
}

.question {
    padding: 0px 30px;
    background-color: #91cc99;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #003838;
    font-family: Jost;
    height: 70px;
    
}

.answer {
    padding: 10px;
    border: 1px solid #ddd;
    display: none;
}
/*footer*/
.sitemap {
    width: 100%;
    height: 280px;
}

.follow-us-parent {
    width: 30%;

}

.mail,
.phone {
    display: flex;
    align-items: center;
    height: 20%;
}

.link {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.link a {
    font-size: 18px;
    color: #003838;

}

.bottom {
    width: 100%;
    background-color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom h5 {
    color: #000;
    font-family: Jost;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
/*get button*/
.footer {
    width: 100%;
    height: 500px;
}

@keyframes shadow-drop-bottom {
    0% {
        box-shadow: 0 0 0 0 transparent;
    }

    to {
        box-shadow: 0 12px 70px -12px rgb(0 0 0/45%);
    }
}

@keyframes pulsate {
    0% {
        transform: scale(1);
        transform-origin: center center;
        animation-timing-function: ease-out;
    }

    10% {
        transform: scale(0.91);
        animation-timing-function: ease-in;
    }

    17% {
        transform: scale(0.98);
        animation-timing-function: ease-out;
    }

    33% {
        transform: scale(0.87);
        animation-timing-function: ease-in;
    }

    45% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
}

.getBtn-child,
.getBtn-item {
    position: absolute;
    border: 1px solid var(--color-black);
    box-sizing: border-box;
}

.getBtn-child {
    top: 13.21%;
    right: 0;
    bottom: 0;
    left: 4.58%;
    background-color: var(--color-darkslategray);
}

.getBtn-item {
    top: 0;
    right: 4.58%;
    bottom: 13.21%;
    left: 0;
    background: linear-gradient(#91cc99, #91cc99),
        linear-gradient(#91cc99, #91cc99), linear-gradient(#91cc99, #91cc99),
        linear-gradient(#91cc99, #91cc99), #91cc99;
}

.get-in-touch {
    position: absolute;
    top: 20.75%;
    left: 16.34%;
    font-size: 25px;
    font-weight: 600;
    font-family: var(--font-jost);
    color: var(--color-darkslategray);
    text-align: left;
}

.upperFooter {
    width: 100%;
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: center;
}

.getBtn {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    width: 20%;
    height: 80px;
}

.getBtn:hover {
    animation: 1s ease 0s infinite normal none shadow-drop-bottom;
    opacity: 1;
}

.getBtn:active {
    animation: 1s ease 0s infinite normal none pulsate;
    opacity: 1;
}
@media (max-width: 1103px) {
    .strengthen-your-online-container {
            font-size: 45px;
            width: 80%;
            /* Adjust the width for smaller screens */
            margin: 50px auto;
            /* Center the container horizontally and provide vertical spacing */
        }
    .hero{
        flex-direction: column;
    }
    .aboutText{
        font-size: 28px;
        width: 80%;
    }
    .heroimg{
    width: 80%;
    }
    .heroimg img{
    margin: 0px;
    margin-bottom: 50px;
    }
 
}


/* Media query for tablet-sized screens */
@media (max-width: 768px) {
    .faq-card {
        padding: 10px;
        margin: 10px 0;
        width: 70%;
    }

    .question {
        padding: 10px;
        font-size: 1.2rem;
        max-height: 50px;
    }
    
    .answer {
        padding: 10px;
    }
    .hero{
        height: 85vh;
    }
    .aboutText{
        font-size: 25px;
    }
    .whySearchwave h1{
        font-size: 55px;
    }
    
    
}

/* Media query for mobile-sized screens */
@media (max-width: 576px) {
    .hero{
        height: 80vh;
    }
    .faq-card{
        width: 75%;

    }
    .question {
        padding: 5px;
        font-size: 1rem;
    }
    .question h2{
        font-size: 18px;
    }
    .answer {
        padding: 5px;
    }
    .strengthen-your-online-container {
        font-size: 30px;
        margin: 20px auto; /* Center the container and reduce vertical spacing */
    }
    .aboutText {
    font-size: 20px;
    }
    .whySearchwave{
    width: 100%;
    margin: 0px;
    }
    .whySearchwave h1{
        font-size: 40px;
    }
    .heroimg{
    width: 90%;
    }
    .heroimg img{
    margin-bottom: 20px;
    }
}