
/* Basic styling for the card layout */
.hero{
    width: calc(100vw - 140px);
    height: 70vh;
    margin: 40px 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.bro{
    width: 60%;
}
.bro img{
    width: 95%;
    height: 100%;
}
.contact{
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
}
.card {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    width: 70%;
    height: 50px;
    background: #F5F7E6;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    color: #003838;
    font-family: Jost;
    font-size: 18px;
    
}
/*heading */
.whySearchwave {
    width: 100%;
    font-size: 30px;
    color: var(--color-darkslategray);
    font-family: jost;
}
.whySearchwave h1{
    font-size: 55px;
}
.whySearchwave img {
    width: 40%;
}
.sitemap{
    height:300px;
}
@media (max-width: 1130px) {
    .sitemap{
        height:400px;
     }
    .card{
    width: 80%;
    font-size: 15px;
    }
}

@media (max-width: 768px) {
     .hero{
        flex-direction: column-reverse;
        height: auto;
     }
     .bro{
        width: 100%;
     }
     .contact{
        margin-top: 50px;
        width: 70%;
     }
     .card{
        width: 80%;
        height: 55px;
     }
     
     .whySearchwave{
        display: none;
     }
     .sitemap{
        height:400px;
     }
}
@media (max-width:550px) {
    .sitemap{
        height: 600px;
    }
    .contact{
        width: 100%;
    }
    .card{
        font-size: 15px;
        width: 100%;
    }
}
@media (max-width:377px) {
    .card{
        font-size: 11px;
    }
}