:root {
    --color-darkseagreen: #91cc99;
    --color-darkslategray: #003838;
    --font-size-21xl: 25px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Jost', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
}

/* Header design */
header {
    width:100%;
    height: 15%;
    background-color: var(--color-darkslategray);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    font-family:Aria;
}

.logo {
    width: 20%; 
    height: 50%;
}
.ham {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
    transition: 0.4s;
}
.cancel{
    position: absolute;
    right: 40px;
    top:50px;
    transition: 0.8s;
}
.cancel .bar1 {
    transform: rotate(45deg);
    margin:-6px 1px;
}

.cancel .bar2 {
    transform: rotate(-45deg);
    
}

/* CSS transitions for smooth animation */
.bar {
    transition: transform 0.3s ease;
}

.nav {
    width: 65%;
    height: 50%;
    font-weight: 400;
    margin-top: 10px;
}

.nav li {
    list-style-type: none;
    display: inline;
    margin: 15px;
}

.nav ul {
    flex-direction: column;
    float: right;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
}
.nav ul li a:hover{
    color: #F4B400;
}
.dropDown{
    display: none;
}
.dropDown a{
    text-decoration: none;
    color: var(--color-darkslategray);
    font-size: 1.8rem;
    font-weight: 400;
    
    
}
.dropDown ul{
    list-style-type: none;
}
.dropDown li{
    text-align: center;
    margin-bottom: 7px;
}

/* footer design*/


/*footer get btn*/
.footer {
    width: 100%;
    height: 500px;
}

@keyframes shadow-drop-bottom {
    0% {
        box-shadow: 0 0 0 0 transparent;
    }

    to {
        box-shadow: 0 12px 70px -12px rgb(0 0 0/45%);
    }
}

@keyframes pulsate {
    0% {
        transform: scale(1);
        transform-origin: center center;
        animation-timing-function: ease-out;
    }

    10% {
        transform: scale(0.91);
        animation-timing-function: ease-in;
    }

    17% {
        transform: scale(0.98);
        animation-timing-function: ease-out;
    }

    33% {
        transform: scale(0.87);
        animation-timing-function: ease-in;
    }

    45% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
}

.getBtn-child,
.getBtn-item {
    position: absolute;
    border: 1px solid var(--color-black);
    box-sizing: border-box;
}

.getBtn-child {
    top: 13.21%;
    right: 0;
    bottom: 0;
    left: 4.58%;
    background-color: var(--color-darkslategray);
}

.getBtn-item {
    top: 0;
    right: 4.58%;
    bottom: 13.21%;
    left: 0;
    background: linear-gradient(#91cc99, #91cc99),
        linear-gradient(#91cc99, #91cc99), linear-gradient(#91cc99, #91cc99),
        linear-gradient(#91cc99, #91cc99), #91cc99;
}

.get-in-touch {
    position: absolute;
    top: 20.75%;
    left: 20%;
    font-size: 25px;
    font-weight: 600;
    font-family: var(--font-jost);
    color: var(--color-darkslategray);
    display: flex;
    text-align: center;
}

.upperFooter {
    width: 100%;
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: center;

}

.getBtn {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    width: 20%;
    height: 80px;
}

.getBtn:hover {
    animation: 1s ease 0s infinite normal none shadow-drop-bottom;
    opacity: 1;
}

.getBtn:active {
    animation: 1s ease 0s infinite normal none pulsate;
    opacity: 1;
}

.btn {
    display: flex;
    justify-content: space-between;
    z-index: 2;
    width: 100%;
    height: 400px;

}

#show-more-button {
    border: none;
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 50px;
    color: #fff;
    text-align: center;
    line-height: 50px;
}

.left-top {
    top: 50%;
    left: 0;
}

.right-top {
    top: 50%;
    right: 0;
}

h1 {
    color: #003838;
    font-family: Jost;
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

h2 {
    white-space: nowrap;
}


/*footer sitemap*/

.sitemap {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    background-color: #91cc99;
    color: #003838;
    font-family: Jost;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    padding: 0px 70px;
    width: 100%;
    padding-top: 10px;
}

.follow-us-parent {
    width: 30%;
    height: 30%;

}

.mail,
.phone {
    display: flex;
    align-items: center;
    height: 30%;
}

.link {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.link a {
    font-size: 18px;
    color: #003838;

}

.bottom {
    width: 100%;
    background-color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom h5 {
    color: #000;
    font-family: Jost;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
/* 1st screen change */
@media (max-width: 1103px) {

    /*header design*/
    
    header {
        flex-direction: column;
        padding: 20px 40px;
        height: auto;
        width:100%;
    }

    .nav {
        width: 100%;
        text-align: center;
    }

    .nav a {
        font-size: 1.2rem;
    }

    .nav ul {
        float: none;
    }
        
    .logo {
        padding-top: 15px;
        height: auto;  
    }

    .logo img {
        width: 200px;
    }

    /* footer */
    .getBtn {
            width: 30%;
    }
    
    .footer,.container {
            width: 100%;
        }
}

/* 2nd screen change */

@media (max-width: 940px) {

    /*header design*/

    header {
            height: 15vh;
            width: 100%;
            background-color: var(--color-darkslategray);
            display: flex;
            align-items: center;
            padding: 0px 20px;
            justify-content: center;
            flex-direction: row;
            font-family: Aria;
        }
    .nav{
        display: flex;
        align-items: center;
        justify-content: space-between;  
        display: none;
        }
    .nav.active {
        display: flex;
    }

    .logo {
    width: 90%;        
    }

    .logo img {
        width: auto;
    }
   .ham{
        display: flex;
   }
   .dropDown{
    width: 100%;
    height: 100%;
    background-color:var(--color-darkseagreen);
    opacity: 95%;
    position: absolute;
    top: 0;
    left:0; 
    display: none;
    align-items: center;
    justify-content: center;
    transition: all 1.5s ease-in-out;
    }
   
    .getBtn {
        width: 40%;
    }
    .sitemap {
        flex-direction: column;
        height: 500px;
        }
    .footer,.container {
            width: 100%;
        }
    .follow-us-parent{
        height: 20%;
    }
}

@media (max-width: 555px) {
    /*header design*/
    header {
        flex-direction: row;
        height: 10vh;
        padding: 0px 0px;
    }
.logo{
    width: 80%;
    padding: 0px 20px;
}
    .nav img {
        width: 30px;
    }

    .logo img {
        width: 150px;
    }
    .ham {
        width: 8%;
    }
 .get-in-touch{
    top: 25%;
    font-size: 18px;
 }
 
}
@media (max-width: 390px) {
.get-in-touch {
        font-size: 15px;
    }
}