:root {
    --color-darkseagreen: #91cc99;
    --color-darkslategray: #003838;
    --font-size-21xl: 25px;
}

body {
    margin: 0;
    font-family: 'Jost', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100vw;
    overflow-x: hidden;
}

/* Header design */
header {
    width: calc(100vw - 140px);
    height: 15vh;
    background-color: var(--color-darkslategray);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 70px;
}

.logo {
    width: 20%; 
    height: 50%;
}

.nav {
    width: 80%;
    height: 50%;
    
}

.nav li {
    list-style-type: none;
    display: inline;
    margin: 15px;
}

.nav ul {
    flex-direction: column;
    float: right;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
}

.nav a:hover {
    color: #F4B400;
}

.ham {
    display: none;
}

/* 1st screen change */
@media (max-width: 1103px) {

    /*header design*/
    
    header {
        flex-direction: column;
        padding: 20px 70px;
        height: auto;
        width: calc(100vw - 140px);
    }

    .nav {
        width: 100%;
        text-align: center;
    }

    .nav a {
        font-size: 1.2rem;
    }

    .nav ul {
        float: none;
    }

    .logo {
        padding-top: 15px;
        height: auto;
    }

    .logo img {
        width: 200px;
    }
}

/* 2nd screen change */

@media (max-width: 940px) {

    /*header design*/

    header {
            height: 15vh;
            width: 100vw;
            background-color: var(--color-darkslategray);
            display: flex;
            align-items: center;
            padding: 0px 25px;
            justify-content: center;
            flex-direction: row;
        }
    .nav{
         display: flex;
        align-items: center;
        justify-content: space-between;     
        }
    .nav {
        display: none; 
    }

    .logo {
    width: 90%;        
    }

    .logo img {
        width: auto;
    }

    .ham{
        display: block;
        float: left;
        padding-top: 10px;
        width: 5%;

    }
}

@media (max-width: 555px) {
    /*header design*/
    header {
        flex-direction: row;
        height: 10vh;
        padding: 20px;
    }

    .nav img {
        width: 30px;
    }

    .logo img {
        width: 200px;
    }
    .ham {
        width: 8%;
    }
}