.hero {
    width: 100vw;
    height: 77vh;
    display: flex;
    flex-direction: row;
}
/*check*/
.heroImg {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.heroContent {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0% 7% 0% 0%;
    flex-direction: column;

}

.heroContent p {
    font-size: 26px;
    color: #003838;
    text-align: center;
    font-family: Jost;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 60%;
}

.heroContent button {
    width: 13%;
    position: absolute;
    height: 45px;
    background-color: #F4B400;
    border-style: none;
    border-radius: 3px;
    color: #003838;
    font-size: 18px;
    font-weight: 600;
}

.heroContent button:hover {
    background-color: #f4bc22;
    cursor: pointer;
    color: white;

}

.btnBg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
