/* Updated CSS for the pricing card */
.pricing-details h2 {
    color: #333;
    font-size: 35px;
    color: #003838;
    font-family: Jost;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.line{
    width: 80%;
    background-color: #F4B400;
    height: 2px;
    margin-top: 5px;
    margin-bottom: 15px;
}
.pricing-card {
    display: flex;
    background-color: #F4F4F4;
    border: 1px solid #E5E5E5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    margin: 40px auto;
    position: relative;
    transition: transform 0.2s;
    flex-direction: column;
}


/* Updated CSS for the background div */

.background {
    position: absolute;
    top: 40;
    right: 20;
    width: 105%;
    height: 510px;
    /* Adjust the width as needed */
    background-color: hsl(7, 100%, 68%,35%);
    z-index: -1;
    /* To make it look like cards */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pricing-details {
    flex: 2;
    padding: 20px;
    text-align: left;
    width: 80%;
}



.bullet-points {
    text-align: left;
    padding: 20px 0;
}

.bullet-points ul {
    list-style-type: disc;
    color: #333;
    font-size: 18px;
    padding-left: 20px;
}

.price-and-button {
    flex: 1;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.price {
    color: #003838;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


ul.bullet-points {
    list-style: none;
    /* Remove default bullet points */
    padding: 0;
    margin: 0;
}
ul.bullet-points li::before {
    content: "\2022";
    /* Use a custom bullet character, in this case, a solid circle */
    color: #FFC0CB;
    /* Color of the bullet */
    font-size: 20px;
    /* Adjust the size of the bullet as needed */
    padding-right: 10px;
    /* Space between the bullet and the text */
    display: inline-block;
    width: 1em;
    /* Adjust the width of the space */
}

ul.bullet-points {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.bullet-points li {
    margin-bottom: 10px;
    color: #333;
}

ul.bullet-points li::before {
    content: "►";
    /* Use the right angle quotation mark */
    color: #F4B400;
    font-size: 20px;
    padding-right: 10px;
    display: inline-block;
    width: 1em;
}

/* get in touch btn*/
.attractive-button {
    border: none;
    display: inline-block;
    background-color: #F4B400;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 17px;
    width: 150px;
    height: 40px;
    transition: background-color 0.3s;
    
}

.attractive-button:hover {
    background-color: #f3ba50;
}

/* Add media queries for responsiveness */
@media (max-width: 768px) {
    .pricing-card {
        max-width: 90%;
        /* Adjust as needed */
    }

    .background {
        display: none;
    }

    .pricing-details {
        width: 100%;
    }

    .bullet-points {
        padding: 15px 0;
        /* Increase padding for better spacing on smaller screens */
    }
    .pricing-details h2 {
        font-size: 23px; /* Adjust the font size for smaller screens */
    }

}
@media (max-width:550px){
    .price-and-button {
            flex-direction: column;
            align-items: center;
        }
    .price{
        margin-bottom: 20px;
    }
}