
/* styles.css */
.process-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 950px;
    /* Adjust the max width as needed */
    margin: 0 auto;
    padding: 200px 0px;
}

.process-step {
    width: calc(35% - 20px);
    margin-bottom: 20px;
    text-align: center;
    box-sizing: border-box;
}

.process-step img {
    max-width: 100%;
    height: auto;
}
.process-step p {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
    color: #333;
    /* Text color */
}
.process-step p span{
    color: #F4B400;
    font-weight: 800;
}

/* Add more media queries for smaller screens if necessary */
/* Media query for responsiveness */
@media (max-width: 768px) {

    /* Adjust the styles for screens with a maximum width of 768px (typical for tablets and mobile) */
    .upperDiv {
        font-size: 1rem;
    }
    .process-step {
        width: calc(50% - 20px);
    }
    .process-step p {
        font-size: 14px; /* Adjust font size for smaller screens */
    }

}


@media (max-width: 576px) {

    /* Adjust the styles for screens with a maximum width of 576px (typical for smaller mobile devices) */
    .upperDiv{
        font-size: 0.8rem;
    }
}