/*hero image img*/
/* Default styles for large screens */
.hero {
    width: 100vw;
    height: 77vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin:7% 20px;
}

.heroImg,
.heroContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.heroImg {
    width: 70%;
}
.heroImg img{
    width: 80%;
    height: auto;
}
.heroContent {
    width: 40%;
    padding: 20px 40px 0% 0%;
    flex-direction: column;
}
.contentBox{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8%;

}
.heroContent p {
    font-size: 1.4rem;
    color: #003838;
    text-align: center;
    font-family: Jost;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 90%;
}

.heroContent button {
    width: 15%;
    min-width: 150px;
    height: 45px;
    background-color: #F4B400;
    border: none;
    border-radius: 3px;
    color: #003838;
    font-size: 18px;
    font-weight: 600;
}

.heroContent button:hover {
    background-color: #f4bc22;
    cursor: pointer;
    color: white;
}

.btnBg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(image/heroarrow.png);
    background-size: contain; 
        background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: center;
}

/*why searchwave*/
.whySearchwave{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10% 20px;
}
.whySearchwave img{
    margin: -3%;
    width: 45%;
    height: 5px;
}
/*big image*/

.imgBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    max-width: 100%;
    
    
    /* Ensures the container doesn't overflow its parent */
}

.background-img {
    max-width: 80%;
    /* Ensures the image doesn't overflow its parent */
    height: auto;
    /* Allows the image to maintain its aspect ratio */
}

.topImg {
    max-width: 95%;
    /* Ensures the image doesn't overflow its parent */
    height: auto;
    /* Allows the image to maintain its aspect ratio */
    position: absolute;
    top: 1;
    left: 1;
}

/*content*/
.strengthen-your-online-container {
    font-size: 55px;
    width: 887px;
    color: var(--color-darkseagreen);
    margin-left: 70px;
    margin-top: 200px;
}
.your-online-presence {
    color: var(--color-darkslategray);
}

/*child content*/
.rectangle-div {
    position: relative;
    padding: 20 70px;
    left: 50%;
    transform: translateX(-50% );
    border-radius: 15px;
    background-color: rgba(146, 227, 169, 0.8);
    width: 70%;
    max-width: 800px;
    /* Limit the maximum width for responsiveness */
    margin: 0 auto;
    /* Center horizontally */
    height: auto;
    /* Allow content to determine the height */
    padding: 20px;
    /* Add some padding for better readability on mobile devices */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* Center text horizontally */
}

.unlock-the-potential {
    font-size: var(--font-size-21xl);
    font-family: Jost;
    font-weight: 400;
    position: relative;
}


/* card design*/
.container {
    position: relative;
    margin: 0;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    /* Allow cards to wrap to the next line on smaller screens */
    justify-content: space-around;
    background: url(image/cardBG.png);
    z-index: 1;
}

.card {
    width: 45%;
    /* Adjust the width to make the cards responsive */
    max-width: 300px;
    /* Set a maximum width for the cards */
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    opacity: 0.95;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F7E6E5;
}

.service_icon {
    margin-top: 10px;
}

.serice-name {
    font-size: 1.8rem;
    /* Adjust font size for responsiveness */
    font-weight: 500;
    /* Adjust font weight for responsiveness */
    margin-top: 10px;
}

.line {
    width: 170px;
    height: 1px;
    background: #F4B400;
    margin: 10px 0;
}

.service_content {
    width: 90%;
    /* Adjust width for responsiveness */
    max-width: 300px;
    /* Set a maximum width for the content */
    color: #003838;
    font-family: Jost;
    font-size: 1rem;
    /* Adjust font size for responsiveness */
    font-weight: 400;
    /* Adjust font weight for responsiveness */
    margin: 10px 0;
}

#show-more-button {
    width: 50px;
    margin: 20px 0;
}

@media (max-width: 768px) {
    .card {
        width: 80%;
        /* Adjust card width for smaller screens */
        max-width: none;
        /* Remove maximum width for cards */
    }
}

/*footer get btn*/
.footer{
    width: 100%;
    height: 300px;
}
@keyframes shadow-drop-bottom {
    0% {
        box-shadow: 0 0 0 0 transparent;
    }

    to {
        box-shadow: 0 12px 70px -12px rgb(0 0 0/45%);
    }
}

@keyframes pulsate {
    0% {
        transform: scale(1);
        transform-origin: center center;
        animation-timing-function: ease-out;
    }

    10% {
        transform: scale(0.91);
        animation-timing-function: ease-in;
    }

    17% {
        transform: scale(0.98);
        animation-timing-function: ease-out;
    }

    33% {
        transform: scale(0.87);
        animation-timing-function: ease-in;
    }

    45% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
}

.getBtn-child,
.getBtn-item {
    position: absolute;
    border: 1px solid var(--color-black);
    box-sizing: border-box;
}

.getBtn-child {
    top: 13.21%;
    right: 0;
    bottom: 0;
    left: 4.58%;
    background-color: var(--color-darkslategray);
}

.getBtn-item {
    top: 0;
    right: 4.58%;
    bottom: 13.21%;
    left: 0;
    background: linear-gradient(#91cc99, #91cc99),
        linear-gradient(#91cc99, #91cc99), linear-gradient(#91cc99, #91cc99),
        linear-gradient(#91cc99, #91cc99), #91cc99;
}

.get-in-touch {
    position: absolute;
    top: 20.75%;
    left: 16.34%;
    font-size: 25px;
    font-weight: 600;
    font-family: var(--font-jost);
    color: var(--color-darkslategray);
    text-align: left;
}
.upperFooter{
  width: 100%;
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: center; 
}
.getBtn {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    width: 20%; 
    height: 80px;
}

.getBtn:hover {
    animation: 1s ease 0s infinite normal none shadow-drop-bottom;
    opacity: 1;
}

.getBtn:active {
    animation: 1s ease 0s infinite normal none pulsate;
    opacity: 1;
}
.hidden {
    display: none;
}
.btn{
    display: flex;
    justify-content: space-between;
    z-index: 2;
    width: 100%;
    height: 400px; 
    
}
#show-more-button {
    border: none;
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 50px;
    color: #fff;     
    text-align: center;
    line-height: 50px;
}
.left-top {
    top: 50%;
    left: 0;
}

.right-top {
    top: 50%;
    right: 0;
}

h1 {
    color: #003838;
    font-family: Jost;
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}



/*footer sitemap*/

.sitemap{
    display: flex;
    padding: 10px;
    flex-direction: row;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    background-color: #91cc99;
    color: #003838;
    font-family: Jost;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    padding: 0px 70px ;
}
.follow-us-parent{
    width: 30%;

}
.mail,.phone {
    display: flex;
    align-items: center;
    height: 20%;
}

.link {
    display: flex;
    flex-direction: column;
    width: 30%;
}
.link a{
    font-size: 18px;
    color: #003838;
    
}
.bottom{
    width: 100%;
    background-color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom h5{
        color: #000;
        font-family: Jost;
        font-size: 15px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
}


@media (max-width: 1103px) {

    /*hero div*/
    .heroContent {
        width: 35%;
    }

    .contentBox {
        width: 100%;
        height: 40%;
    }

    .heroImg {
        width: 80%;
    }

    /*why serchwave*/

    .whySearchwave h1 {
        font-size: 50px;
    }

    .whySearchwave img {
        height: 3px;
        width: 38%;
    }
    /*content*/
        .strengthen-your-online-container {
            font-size: 40px;
            width: 80%;
            margin: 50px auto;
        }
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {

    /*hero div*/
    .hero {
        flex-direction: column;
        height: auto;
    }

    .heroImg {
        width: 90%;
        height: 500px;
        margin-top: 5%;
    }

    .contentBox {
        padding: 0%;
    }

    .heroContent {
        width: 80%;
        padding: 0% 7%;
    }

    .heroContent p {
        font-size: 1.4rem;
        width: 60%;
    }

    .heroContent button {
        width: 30%;
    }

    .btnBg {
        width: 100%;
        height: 200px;
    }
        /*why serchwave*/

    .whySearchwave h1 {
        font-size: 40px;
    }
    /*content*/
    .strengthen-your-online-container {
            font-size: 40px;
    }
}

@media (max-width:550px) {

    /*hero div*/
    .heroImg{
        height: 400px;
    }
        .heroImg img {
            width: 95%;
            
        }
    .heroContent p {
        font-size: 1.5rem;
        width: 100%;
    }

    .heroContent button {
        width: 30%;
    }

 /*why serchwave*/

 .whySearchwave h1 {
     font-size: 30px;
 }
 /*content*/
 .strengthen-your-online-container {
     font-size: 40px;

 }
 .card-container{
    flex-direction: column;
 }
 .hidden {
     display: block;
 }
 #show-more-button{
    display: none;
 }

}