/*hero image img*/
/* Default styles for large screens */
.hero {
    width: 100vw;
    height: 77vh;
    display: flex;
    flex-direction: row;
}

.heroImg,
.heroContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.heroImg {
    width: 60%;
    overflow: hidden;
}

.heroContent {
    width: 40%;
    padding: 0% 7% 0% 0%;
    flex-direction: column;
}

.heroContent p {
    font-size: 26px;
    color: #003838;
    text-align: center;
    font-family: Jost;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 60%;
}

.heroContent button {
    width: 13%;
    height: 45px;
    background-color: #F4B400;
    border: none;
    /* Shorter syntax for border */
    border-radius: 3px;
    color: #003838;
    font-size: 18px;
    font-weight: 600;
}

.heroContent button:hover {
    background-color: #f4bc22;
    cursor: pointer;
    color: white;
}

.btnBg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        height: auto;
    }

    .heroImg {
        width: 100%;
        height: auto;
    }

    .heroContent {
        width: 100%;
        padding: 5% 7%;
    }

    .heroContent p {
        font-size: 20px;
        width: 100%;
    }

    .heroContent button {
        width: 30%;
    }
}

/*why searchwave*/
.whySearchwave{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10% 0%;
}
.whySearchwave img{
    margin: -3%;
    width: 30%;
}
.imgBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.topImg{
    position: absolute;
}
.strengthen-your-online-container {
    font-size: 55px;
    display: inline-block;
    width: 887px;
    color: var(--color-darkseagreen);
    margin-left: 70px;
    margin-top: 200px;
}
.your-online-presence {
    color: var(--color-darkslategray);
}
.rectangle-div {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    background-color: rgba(146, 227, 169, 0.8);
    width: 70%;
    height: 200px;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.unlock-the-potential {
    font-size: var(--font-size-21xl);
    width: 800px;
    font-family: Jost;
    font-weight: 400;
    position: relative;
    
}

/* card design*/
.container{
    position: relative;
}

.card-container {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 450px;
    background:url(image/cardBG.png);
    justify-content: space-around;
    z-index: 1;
}

.card {
    width: 25%;
    height: 100px;
    background-color: #F5F7E6E5;
    margin: 10px;
    text-align: center;
    line-height: 100px;
    height: 90%;
    border-radius: 10px;
    opacity: 0.95;
    display: flex;
    flex-direction: column;
    align-items: center;
    


}
.service_icon{
    margin-top: 10%;
}
.serice-name{
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
}
.line{
    width: 170px;
    height: 1px;
    background: #F4B400;
}
.service_content{
    width: 283px;
        height: 137px;
        flex-shrink: 0;
        color: #003838;
        font-family: Jost;
        font-size: 22px;
        font-style: normal;
        font-weight: 300;
        line-height: 25px;
}

/*footer get btn*/
.footer{
    width: 100%;
    height: 300px;
}
@keyframes shadow-drop-bottom {
    0% {
        box-shadow: 0 0 0 0 transparent;
    }

    to {
        box-shadow: 0 12px 70px -12px rgb(0 0 0/45%);
    }
}

@keyframes pulsate {
    0% {
        transform: scale(1);
        transform-origin: center center;
        animation-timing-function: ease-out;
    }

    10% {
        transform: scale(0.91);
        animation-timing-function: ease-in;
    }

    17% {
        transform: scale(0.98);
        animation-timing-function: ease-out;
    }

    33% {
        transform: scale(0.87);
        animation-timing-function: ease-in;
    }

    45% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
}

.getBtn-child,
.getBtn-item {
    position: absolute;
    border: 1px solid var(--color-black);
    box-sizing: border-box;
}

.getBtn-child {
    top: 13.21%;
    right: 0;
    bottom: 0;
    left: 4.58%;
    background-color: var(--color-darkslategray);
}

.getBtn-item {
    top: 0;
    right: 4.58%;
    bottom: 13.21%;
    left: 0;
    background: linear-gradient(#91cc99, #91cc99),
        linear-gradient(#91cc99, #91cc99), linear-gradient(#91cc99, #91cc99),
        linear-gradient(#91cc99, #91cc99), #91cc99;
}

.get-in-touch {
    position: absolute;
    top: 20.75%;
    left: 16.34%;
    font-size: 25px;
    font-weight: 600;
    font-family: var(--font-jost);
    color: var(--color-darkslategray);
    text-align: left;
}
.upperFooter{
  width: 100%;
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: center; 
}
.getBtn {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    width: 20%;
    height: 80px;
}

.getBtn:hover {
    animation: 1s ease 0s infinite normal none shadow-drop-bottom;
    opacity: 1;
}

.getBtn:active {
    animation: 1s ease 0s infinite normal none pulsate;
    opacity: 1;
}
.hidden {
    display: none;
}
.btn{
    display: flex;
    justify-content: space-between;
    z-index: 2;
    width: 100%;
    height: 400px; 
    
}
#show-more-button {
    border: none;
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 50px;
    color: #fff;     
    text-align: center;
    line-height: 50px;
}
.left-top {
    top: 50%;
    left: 0;
}

.right-top {
    top: 50%;
    right: 0;
}

h1 {
    color: #003838;
    font-family: Jost;
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}



/*footer sitemap*/

.sitemap{
    display: flex;
    padding: 10px;
    flex-direction: row;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    background-color: #91cc99;
    color: #003838;
    font-family: Jost;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    padding: 0px 70px ;
}
.follow-us-parent{
    width: 30%;

}
.mail,.phone {
    display: flex;
    align-items: center;
    height: 20%;
}

.link {
    display: flex;
    flex-direction: column;
    width: 30%;
}
.link a{
    font-size: 18px;
    color: #003838;
    
}
.bottom{
    width: 100%;
    background-color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom h5{
        color: #000;
        font-family: Jost;
        font-size: 15px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
}


