/*hero image img*/
/* Default styles for large screens */
.hero {
    width: 100%;
    height: 77vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding:7% 20px;
}

.heroImg,
.heroContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.heroImg {
    width: 70%;
}
.heroImg img{
    width: 80%;
    height: auto;
}
.heroContent {
    width: 40%;
    padding: 20px 40px 0% 0%;
    flex-direction: column;
}
.contentBox{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8%;

}
.heroContent p {
    font-size: 1.4rem;
    color: #003838;
    text-align: center;
    font-family: Jost;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 90%;
}

.heroContent button {
    width: 15%;
    min-width: 150px;
    height: 45px;
    background-color: #F4B400;
    border: none;
    border-radius: 3px;
    color: #003838;
    font-size: 18px;
    font-weight: 600;
}

.heroContent button:hover {
    background-color: #f4bc22;
    cursor: pointer;
    color: white;
}

.btnBg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(image/heroarrow.png);
    background-size: contain; 
        background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: center;
}

/*why searchwave*/
.whySearchwave{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 10% 20px;
}
.whySearchwave img{
    margin: 0%;
    width: 45%;
    height: 5px;
}
/*big image*/

.imgBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    max-width: 100%;
    
    
    /* Ensures the container doesn't overflow its parent */
}

.background-img {
    max-width: 80%;
    /* Ensures the image doesn't overflow its parent */
    height: auto;
    /* Allows the image to maintain its aspect ratio */
}

.topImg {
    max-width: 95%;
    /* Ensures the image doesn't overflow its parent */
    height: auto;
    /* Allows the image to maintain its aspect ratio */
    position: absolute;
    top: 1;
    left: 1;
}

/*content*/
.strengthen-your-online-container {
    font-size: 55px;
    width: 887px;
    color: var(--color-darkseagreen);
    margin-left: 70px;
    margin-top: 200px;
    margin-bottom: 100px;
}
.your-online-presence {
    color: var(--color-darkslategray);
}

/*child content*/
.rectangle-div {
    
    border-radius: 15px;
    background-color: rgba(146, 227, 169, 0.8);
    width: 70%;
    max-width: 800px;
    /* Limit the maximum width for responsiveness */
    margin: 0 auto;
    /* Center horizontally */
    height: auto;
    /* Allow content to determine the height */
    padding: 20px;
    /* Add some padding for better readability on mobile devices */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* Center text horizontally */
}

.unlock-the-potential {
    font-size: var(--font-size-21xl);
    font-family: Jost;
    font-weight: 400;
    position: relative;
}


/* card design*/
.container {
    position: relative;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    /* Allow cards to wrap to the next line on smaller screens */
    justify-content: space-around;
    background: url(image/cardBG.png);
    z-index: 1;
}

.card {
    width: 45%;
    /* Adjust the width to make the cards responsive */
    max-width: 300px;
    /* Set a maximum width for the cards */
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    opacity: 0.95;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F7E6E5;
}

.service_icon {
    margin-top: 10px;
}

.serice-name {
    font-size: 1.8rem;
    /* Adjust font size for responsiveness */
    font-weight: 500;
    /* Adjust font weight for responsiveness */
    margin-top: 10px;
}

.line {
    width: 170px;
    height: 1px;
    background: #F4B400;
    margin: 10px 0;
}

.service_content {
    width: 90%;
    /* Adjust width for responsiveness */
    max-width: 300px;
    /* Set a maximum width for the content */
    color: #003838;
    font-family: Jost;
    font-size: 1rem;
    /* Adjust font size for responsiveness */
    font-weight: 400;
    /* Adjust font weight for responsiveness */
    margin: 10px 0;
}

#show-more-button {
    width: 50px;
    margin: 20px 0;
}
.sitemap {
    width: 100%;
    height: 280px;
}
@media (max-width: 1103px) {

    /*hero div*/
    .heroContent {
        width: 35%;
    }

    .contentBox {
        width: 100%;
        height: 40%;
    }

    .heroImg {
        width: 80%;
    }

    /*why serchwave*/

    .whySearchwave h1 {
        font-size: 50px;
    }

    .whySearchwave img {
        height: 3px;
        width: 38%;
    }
    /*content*/
    .strengthen-your-online-container {
            font-size: 40px;
            width: 80%;
            margin: 50px auto;
    }
    .hidden{
        display: flex;
    }
    #show-more-button {
        display: none;
    } 
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {

    /*hero div*/
    .hero {
        flex-direction: column;
        height: auto;
    }

    .heroImg {
        width: 90%;
        height: 500px;
        margin-top: 5%;
    }

    .contentBox {
        padding: 0%;
    }

    .heroContent {
        width: 80%;
        padding: 0% 7%;
    }

    .heroContent p {
        font-size: 1.4rem;
        width: 60%;
    }

    .heroContent button {
        width: 30%;
    }

    .btnBg {
        width: 100%;
        height: 300px;
    }
        /*why serchwave*/

    .whySearchwave h1 {
        font-size: 40px;
    }
    /*content*/
    .strengthen-your-online-container {
        font-size: 40px;
    }
    
    /*card design*/
    .card {
            width: 80%;
        }
    
    
}

@media (max-width:550px) {

    /*hero div*/
    .heroImg{
        height: 400px;
    }
    .heroImg img {
            width: 95%;    
    }
    .heroContent p {
        font-size: 1.5rem;
        width: 100%;
    }

    .heroContent button {
        width: 60%;
    }

 /*why serchwave*/

 .whySearchwave h1 {
     font-size: 30px;
 }
 /*content*/
 .strengthen-your-online-container {
     font-size: 40px;

 }
 .card-container{
    flex-direction: column;
    align-items: center;
 }
 
 
 #show-more-button{
    display: none;
 }
.sitemap{
    margin-top: 20px;
    flex-direction: column;
    width: 100%;
    height: 700px;
}
.mail,.phone {
    height: 30%;
    flex-direction: row;
}
.get-in-touch{
    font-size: 18px;
    left: 15%;
}


}